html {
    font-size: 62.5%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-one {
    height: 60px;
    width: 100%;
    background: red;
    line-height: 60px;
}

.header-one h2 {
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
}

.header-one .map {
    width: 15%;
    height: 50px;
    margin-left: 125px;
    margin-top: -60px;
    color: #ffffff;
}

.header-one .map span {
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    float: left;
}

.header-one .map img {
    position: relative;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
}

#atCity {
    color: #ffffff;
    font-size: 14px;
}

.phone {
    height: 50px;
    float: right;
    margin-top: -50px;
    margin-left: 40px;
}

.phone h4 {
    margin-right: 50px;
    font-weight: normal;
    font-size: 16px;
}

.phone h4 a {
    color: #ffffff;
}

.phone img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -58px;
    left: 115px;
}

.header-two {
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    margin-top: 0;
}

.header-two ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 45px;
}

.header-two ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #333333;
}

.section {
    margin-top: 132px;
}

.liebiao {
    padding-left: 15px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 20px;
    font-size: 14px;
}

.liebiao h3 {
    padding: 20px 0 10px 10px;
    color: black;
    font-size: 18px;
}

.liebiao p {
    font-size: 16px;
    color: #333333;
    margin-left: 10px;
}

.liebiao p span {
    float: right;
    margin-right: 30px;
    color: red;
}

.nice {
    float: left;
}

.footer {
    background: #ffffff;
}

.footer .text-f {
    text-align: center;
    padding: 20px 5px 0 5px;
    font-size: 14px;
}

.pagination .current {
    padding: 5px 10px;
    border: 1px solid red;
    color: red;
}

.text-f .pagination {
    text-align: center;
    margin-top: 15px;
}

.pagination a {
    border: 1px solid red;
    color: red;
    padding: 5px 10px;
    font-size: 20px;
    margin: 0 10px;
}

.pagination .current:active {
    background: red;
    color: #ffffff;
}

.fuwu {
    margin-top: 10px;
    background: #ffffff;
    padding-bottom: 70px;
    font-size: 12px;
}

.fuwu ul li {
    list-style: none;
    display: inline-block;
    padding-right: 25px;
}

.fuwu ul {
    position: relative;
    top: 20px;
    left: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.fuwu ul li:nth-child(1),
.fuwu ul li:nth-child(2) {
    border-right: 1px solid gray;
}

.fuwu ul li:nth-child(2),
.fuwu ul li:nth-child(3) {
    margin-left: 25px;
}

.fuwu ul li a {
    color: gray;
    text-decoration: none;
}

.fuwu p {
    text-align: center;
    color: gray;
    margin-bottom: 0;
}

.simple {
    width: 50px;
    height: 50px;
    background: rgba(71, 71, 71, 0.67);
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.flex p {
    position: relative;
    top: -85px;
    left: 90px;
    font-size: 18px;
    color: #ffffff;
}

.flex button {
    padding: 10px 15px;
    background: red;
    position: absolute;
    top: 13px;
    left: 530px;
    border: 1px;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
}

.flex {
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin-top: -70px;
    background: rgba(12, 10, 10, 0.67);
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.border-style {
    border: 2px solid deeppink;
    height: 150px;
    width: 300px;
}

#yc ul li {
    list-style-type: none;
    border: 1px solid red;
    width: 33%;
    text-align: center;
}

#yc ul li:nth-child(2) {
    margin-left: 33.3%;
    margin-top: -27px;
}

#yc ul li:nth-child(3) {
    margin-left: 66.7%;
    margin-top: -27px;
}

#yc {
    width: 100%;
}

#box ul li {
    list-style: none;
    display: inline-block;
}

#box ul li div {
    width: 100%;
}

.header-three {
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    border-bottom: 2px solid #eeeeee;
}

.header-three ul {
    margin-top: -20px;
}

.header-three ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 5px;
}

.header-three ul li img {
    width: 12px;
    height: 12px;
}

.header-three ul li:nth-child(3) {
    position: relative;
    left: 510px;
}

.header-three ul li:nth-child(2) {
    position: absolute;
    left: 290px;
}

.header-three ul li:nth-child(1) {
    position: absolute;
    left: 80px;
}

.header-three .quyu {
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    margin-top: -4px;
    z-index: 100;
    background: rgb(240, 242, 243);
    float: left;
}

.header-three .quyu button {
    font-size: 16px;
    color: #333333;
    width: 100px;
    background: #ffffff;
    padding: 10px 5px;
    margin-left: 45px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.header-three .other {
    width: 100%;
    padding-bottom: 20px;
    overflow: auto;
    background: rgb(240, 242, 243);
    margin-top: -4px;
    position: relative;
    z-index: 100;
}

.header-three .other .mianji h3 {
    line-height: 60px;
    font-size: 20px;
}

.header-three .other button {
    font-size: 16px;
    color: #333333;
    width: 120px;
    background: #ffffff;
    padding: 10px 5px;
    margin-left: 45px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.header-three .other .mianji {
    margin-left: 5%;
    width: 90%;
    padding-bottom: 10PX;
    border-bottom: 1px solid #333333;
}

.header-three .other .zhuangtai {
    margin-left: 5%;
    width: 90%;
    padding-bottom: 10PX;
}

.header-three .other .zhuangtai h3 {
    line-height: 60px;
    font-size: 16px;
}

.header-three .other .queding {
    width: 90%;
    height: 50px;
    background: red;
    color: #ffffff;
    border: 1px;
}

.header-three .leixing {
    width: 100%;
    height: 60px;
    background: rgb(240, 242, 243);
    margin-top: -4px;
    position: relative;
    z-index: 100;
}

.header-three .leixing a {
    font-size: 18px;
    color: #333333;
    width: 120px;
    background: #ffffff;
    padding: 5px 10px;
    margin-left: 45px;
    border: 1px solid #333333;
    border-radius: 5px;
}

#wrapper ul {
    width: 204%;
}

#wrapper ul li {
    width: 100px;
    height: 60px;
    background: #ffffff;
    float: left;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.header-three .mianji a {
    font-size: 18px;
    color: #333333;
    width: 120px;
    background: #ffffff;
    padding: 5px 10px;
    margin-left: 45px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.header-three .quyu a {
    font-size: 18px;
    color: #333333;
    line-height: 35px;
    margin-top: 10px;
    background: #ffffff;
    padding: 0 12px;
    margin-left: 20px;
    border: 1px solid #333333;
    border-radius: 5px;
    float: left;
}

.mycity {
    font-size: 14px;
    color: #fff;
}